# Ranch Pal assignment

In [9]:
import pandas as pd
import numpy as np
import time

In [31]:
df=pd.read_csv("sample-data.csv")

In [32]:
df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303

# changing epoch time to Local time

In [37]:
df["Local_time"]=[time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(x)) for x in df["time"].values ]
df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,Local_time
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021-05-03 11:36:50
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021-05-03 11:36:50
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021-05-03 11:36:50
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021-05-03 11:36:51
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021-05-03 11:36:51

In [96]:
df["Label"]=[None for i in range(df.shape[0])]
df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,Local_time,Label
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,None
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,None

# Take input for the cell and label

In [97]:
while (True):
    try:
        cell,label=map(int,input("Enter cell number(ranging 0 to 10454) and label(ranging 1 to 9) and press enter ").split())
        df.iloc[cell,11]=label
    except:
        print("Thank You!")
        break

Enter cell number(ranging 0 to 10454) and label(ranging 1 to 9) and press enter 1 3
Enter cell number(ranging 0 to 10454) and label(ranging 1 to 9) and press enter 4 6
Enter cell number(ranging 0 to 10454) and label(ranging 1 to 9) and press enter 3 7
Enter cell number(ranging 0 to 10454) and label(ranging 1 to 9) and press enter 2 8
Enter cell number(ranging 0 to 10454) and label(ranging 1 to 9) and press enter 10 4
Enter cell number(ranging 0 to 10454) and label(ranging 1 to 9) and press enter
Thank You!

# Final required dataset

In [98]:
df

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,Local_time,Label
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,3
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,8
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,7
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,6
...,...,...,...,...,...,...,...,...,...,...,...,...
10450,1620022189,-6.326172,-1.777344,3.976562,-8.483887,13.000488,-1.159668,-0.175195,0.006348,0.060303,2021-05-03 11:39:49,None
10451,1620022189,-6.398438,-1.783203,4.025391,-8.605957,12.207031,0.793457,-0.175195,0.006348,0.060303,2021-05-03 11:39:49,None
10452,1620022189,-6.392578,-1.792969,3.998047,-7.934570,12.756348,-0.549316,-0.175195,0.006348,0.060303,2021-05-03 11:39:49,None
10453,1620022189,-6.388672,-1.783203,4.052734,-9.033203,14.282227,1.281738,-0.175195,0.006348,0.060303,2021-05-03 11:39:49,None
10454,1620022189,-6.404297,-1.738281,4.013672,-7.080078,15.197754,-1.098633,-0.175195,0.006348,0.060303,2021-05-03 11:39:49,None

In [99]:
df["Label"].values

array([None, 3, 8, ..., None, None, None], dtype=object)