# Ranch Pal assignment

In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
df=pd.read_csv("sample-data.csv")

In [3]:
df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303

# changing epoch time to Local time

In [4]:
df["Local_time"]=[time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(x)) for x in df["time"].values ]
df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,Local_time
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021-05-03 11:36:50
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021-05-03 11:36:50
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021-05-03 11:36:50
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021-05-03 11:36:51
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021-05-03 11:36:51

In [5]:
df["Label"]=[None for i in range(df.shape[0])]
df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,Local_time,Label
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,None
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,None

# Take input for the cell and label

In [18]:
while (True):
    try:
        cell1,cell2=map(int,input("Enter cell1(ranging 0 to 10454) and cell2(greater than cell1) and press enter ").split())
        label=int(input("Enter the label(ranging 1 to 9) which you want to fit between cell1 and cell2 and press enter "))
        
        df.iloc[cell1:cell2+1,11]=label
    except:
        print("Thank You!")
        break

Enter cell1(ranging 0 to 10454) and cell2(greater than cell1) and press enter 2 2
Enter the label(ranging 1 to 9) which you want to fit between cell1 and cell2 and press enter 4
Enter cell1(ranging 0 to 10454) and cell2(greater than cell1) and press enter 3 7
Enter the label(ranging 1 to 9) which you want to fit between cell1 and cell2 and press enter 8
Enter cell1(ranging 0 to 10454) and cell2(greater than cell1) and press enter
Thank You!

# Final required dataset

In [19]:
df.head(10)

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,Local_time,Label
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,4
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,8
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,8
5,1620022011,-5.582031,-2.158203,5.263672,-62.561035,40.954590,28.259277,-0.175195,0.006348,0.060303,2021-05-03 11:36:51,8
6,1620022010,-5.574219,-2.148438,5.269531,-77.941894,30.395508,39.855957,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,8
7,1620022010,-5.558594,-2.216797,5.332031,-80.444336,31.250000,42.236328,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,8
8,1620022010,-5.482422,-2.220703,5.378906,-74.218750,37.841797,44.128418,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None
9,1620022010,-5.458984,-2.220703,5.402344,-69.274902,39.245605,43.212891,-0.175195,0.006348,0.060303,2021-05-03 11:36:50,None

In [99]:
df["Label"].values

array([None, 3, 8, ..., None, None, None], dtype=object)